{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "es2022": true
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": ["error", "always-multiline"]
  }
}